/* CSS */
html{
    background-color: #fff7ef;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color: #fff7ef;
    
}


/* Nav bar */

/* Fondo del navbar */
.mysteryCH-NavColor {
    background-color: #140e0e;
    border-bottom: 0.1rem solid #d79d65;
}

/* navbar distancia entre textos (gap) */
.mysteryCH-navgap {
    display: flex;
    column-gap: 100px;
}

/* Color de la letra del navbar */
.mysteryCH-NavColor a {
    color: #d79d65;
}

/* Color destacado navbar activo */
.mysteryCH-destacado .nav-pills .active {
    background-color: #d79d65; 
    color: #3f3637;
}
/* Color destacado navbar hover */
.mysteryCH-destacado .nav-pills .nav-link:hover {
    color: #fff7ef; 
}
/* Color destacado navbar seleccionado */
.mysteryCH-destacado .nav-pills .nav-link:focus {
    color: #d7c8b3; 
}



/* ------------------------ Portada o banner ----------------------- */

.fotoPortada img {
    width: 100%;
    height: auto;
    background-color: #fff7ef;
}


/* ---------------Seccion 1: hay un cafe para todos ------------*/
.cafe-para-todos ul {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 120px;
    flex-wrap: wrap;

    
}
.cafe-para-todos h2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    color: #3f3637;
    text-align: center;

}

.cafe-para-todos p {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: #3f3637;
    font-size: 1rem;
    text-align: center;
}


/* ------------------------ Footer ----------------------- */
/* .mysteryCH-footer {
    display: flex;
    justify-content: center;
}

.mysteryCH-footer div {
    display: flex;
    flex-direction: column;
    background-color:  #d7c8b3;
    justify-content: center;
    padding: 1rem;
}



.mysteryCH-footer ul  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    column-gap: 120px;
} */

.mysteryCH-footer {
    background-color:  #d7c8b3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 1rem;
}

/* logo footer */

.mysteryCH-footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 120px;
    margin-top: 1rem;
    

}


/* redes footer */
.mysteryCH-footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 120px;
}


/* ----------------------- PÁGINA MENÚ -------------------  */

.MysteryCH-titulo {
    margin-top: 5rem;
}

.mysteryCH-cafes button {
    background-color: #d79d65;
    color: #3f3637;
}

.mysteryCH-cafes button:hover {
    background-color: #d7c8b3;
    color: #3f3637;
}

.mysteryCH-cafes button:focus {
    background-color: #766b65;
    color: #3f3637;
}

.mysteryCH-cafes img {
    margin-top: 5rem;
}

/* -------------------- PAGINA QUIENES SOMOS -------------------*/

.MysteryCH-nosotros {
    text-align: center;
}

.MysteryCH-texto-izquierda {
    text-align: left;
}


/* --------------------- PÁGINA CONTACTO-------------------- */
/* CONTACTO */

.MysteryCH-contacto{
    font-size: 1.3rem;
    margin: 0.4rem 0;
    margin-left: 5rem;
    margin-right: 5rem;

}



/* ------------------------ Media Queryies ------------------------------  */

/* DESKTOP media query  */


@media only screen and (min-width: 961px) {
    
    /* Media query footer  */
    .mysteryCH-footer div {
        flex-direction: row;
    }
    
}




/* **************** Referencias *************** */

/* ---------------- Paleta de colores---------- */

/*
- #fff7ef crema-Claro
- #d7c8b3 crema-Medio
- #d79d65 naranja-destacado
- #bb8149 naranja-apagado
- #766b65 café-Claro
- #6c615b café-Medio
- #3f3637 café-Oscuro
*/

/* ---------------- Fuentes-------------------- */

/*
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    font-family: 'Lato', sans-serif;
*/

