/* -------------------- PAGINA HISTORIA QUIENES SOMOS -------------------*/

.mysteryCH-fundador {
    text-align: center;
    margin-top: 2rem;
    border-bottom: 0.1rem solid #d79d65;
    
    p, h1, h2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mysteryCH-integrantes {
        margin-top: 5rem;
        padding-top: 2rem;
        border-top: 0.1rem solid #d79d65;
        background-color: #d79d65;
        
        img {
            margin-bottom: 1rem;
        }

        .mysteryCH-texto-izquierda {
            text-align: left;
        }
    }
}

.mysteryCH-nosotros {
    text-align: center;
    margin-top: 5rem;
}


