$font: 'Lato', sans-serif;

/* Paleta de colores */

$crema-Claro: #fff7ef;
$crema-Medio: #d7c8b3;
$naranja-Destacado: #d79d65; 
$naranja-Apagado: #bb8149;
$cafe-Claro: #766b65;
$cafe-Medio: #6c615b; 
$cafe-Oscuro: #3f3637;
$cafe-Negro: #140e0e


